<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <tab id="live2" translate="label" sortOrder="1">
            <label>Live2</label>
        </tab>
        <section id="live2_token" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Live2 Token</label>
            <tab>live2</tab>
            <resource>Live2_Live2::config_live2_token</resource>
            <group id="access_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Access Token</label>
                <field id="token" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                    <comment>Enter your access token here.</comment>
                     <scope>store</scope>
                </field>
            </group>
        </section>
    </system>
</config>
